src/main/mule/myfirstgithubproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="356f26d8-c547-4171-a76e-dbb89819eb6d" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="myfirstgithubprojectFlow" doc:id="e909f630-f525-4b2f-81b1-c11bad3b5b3f" >
		<http:listener doc:name="Listener" doc:id="ba2b87c6-9b6c-4546-acec-7d111d113444" config-ref="HTTP_Listener_config" path="/github"/>
		<ee:transform doc:name="Transform Message" doc:id="82d591fd-c646-482e-9a8d-a18515bcfc5b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5ca38795-9436-478d-8d10-372aa645c164" message="#[payload]"/>
	</flow>
</mule>
